.station {
    width: 12px;
    height: 12px;
    background-color: #c9cce8;
    border-radius: 50%;
    margin-left: 7px;
}

.routeName {
    margin-left: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 20px);
    display: inline-block;
    color: white;
}

.stepper {
    width: 300px;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .stepper {
        width: 100vw;
    }
}