.App {
  /*min-height: 100vh;*/
  height: calc(100vh - 5rem);
}

.footerNav {
  background-color: #232538;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.searchLink, .mapLink {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #475d862e;
}

.searchLink:hover, .mapLink:hover {
  background-color: #232538;
}

.searchLink span, .mapLink span {
  margin-left: 10px;
}

.searchLink {
  border-right: 2px solid #33354ef0;
}